fastapi
uvicorn
pandas
sqlalchemy
python-multipart
openpyxl
streamlit
requests
langchain
langchain-community
langchain-experimental
langchain-huggingface
huggingface_hub
transformers
accelerate
python-dotenv
Certifi
langchain_groq